<div class='mt-10 flex items-center' id="<%= dom_id option %>">
  <div class='w-full'>
    <div class='text-gray-700 text-3xl'>
      <div class='mb-3 flex items-center'>
        <%= option.title %>
        <p class="text-sm"> &nbsp; <%= option.vote_count %> </p>
      </div>
      <% if params[:controller] == "responds" %>
        <%= button_to 'Vote', poll_respond_path(:option_id => option.id), method: :put, class: " pt-30 rounded-lg ml-1 py-3 px-5 bg-blue-200 font-medium"%>
      <% end %>
    </div>
  </div>
</div>
